:root {
  --grey: #607274;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  height: 100vh;
}

.resizer {
  width: 15px;
  padding: 3px;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  cursor: ew-resize;  
  transition: .5s ease-in;
  justify-content: center;
}

.resizer:hover {
  background-color: #607274;
  opacity: 0.5;
}

.resizer div {
  width: 7px;
  border-radius: 10px;
  background-color: var(--grey);
  opacity: 0.3;
}

.resizer div:nth-child(1), .resizer div:nth-child(3) {
  height: 30px;
}

.resizer div:nth-child(2) {
  height: 40px;
}

@media screen and (max-width: 620px) {
  #app {
    flex-direction: column;
  }

  .resizer div {
    height: 7px;
    border-radius: 10px;
  }
  
  .resizer div:nth-child(1), .resizer div:nth-child(3) {
    width: 30px;
    height: 7px;
  }
  
  .resizer div:nth-child(2) {
    width: 40px;
    height: 7px;
  }

  .resizer {
    height: 15px;
    width: 100%;
  cursor:s-resize;  

  }
  
}